@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f5f5f5;
    --foreground: #222;
}

html, body {
    color: var(--foreground);
    background: var(--background) !important;
    font-family: var(--font-geist-sans);
    width: 100%;
    min-height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
